.formWrapper{
    margin: auto;
}

.noteform-input{
    width: 760px;
    min-width: 760px;
    padding-left: 20px;
    color: #111;
    transition: 0.2s ease-out;
    border: 1px solid #878787;
    border-radius: 4px;
    height: 40px;
}

.noteform-input:focus{
    color: #111;
    transition: 0.2s ease-in;
}